.text-color-white {
	color:white;
}
.text-color-grey {
	color:#424242;
}

.text-bold {
	font-weight:bold;
}
.text-bold-2 {
	font-weight:600;
}

video {
	border: 1px solid #D8D8D8;
	border-radius:5px;
	width:100%;
}